*{
	box-sizing: border-box;
	border: solid black;
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: radial-gradient(#c0fff4 6%, gray 137%);
}

#container{
	margin: auto;
	position: relative;
	/*background: radial-gradient(red 5%, yellow 15%, green 60%)*/
}


#color:hover {
	opacity: 1;
}

#color:hover +#clock {
	opacity: 0;
}
/*#txt2:hover ~ #txt {
	opacity: 0;
}*/

#clock, #color {
	text-align: center;
	position: absolute;
	margin-top: 30%;
	margin-left: 42%;
}



#clock {
	font-family: 'Lobster', cursive;
	font-size: 360%;
	opacity: 1;
	z-index: 8;
}

#color {
	font-family: 'Patua One', cursive;
	font-size: 360%;
	opacity: 0;
	z-index: 10;
}


