* {
    box-sizing: border-box;
    /*border: solid black;*/
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #c0fff4;
}
#container {
    position: relative;
    height: 100vh;
}

#clock:hover {
    opacity: 0;
}

#clock:hover ~ #color {
    opacity: 1;
}


/*#txt2:hover ~ #txt {
	opacity: 0;
}*/

#clock,
#color {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
}

#clock {
    font-family: 'Lobster', cursive;
    font-size: 360%;
    opacity: 1;
    z-index: 1;
}

#color {
    font-family: 'Patua One', cursive;
    font-size: 360%;
    z-index: 0;
    opacity: 0;
}

div#overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: radial-gradient(white 6%, black 137%);
    opacity: .5;
}
